@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
#banner {
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts {
  margin-top: 2.5%;
  flex: 70%;
}

.sidebar {
  flex: 30%;
  margin-top: 2.5%;
  margin-left: 1%;
  margin-right: 1%;
  font-family: "Lato", sans-serif;
}

.sidebar button {
  display: block;
  margin: auto;
  margin-bottom: 5%;
  background-color: #4aa3df;
  width: 100%;
  border: none;
  color: white;
  height: 30px;
  font-size: 16px;
  letter-spacing: 3px;
}

.sidebar article {
  background-color: #f5f5f5;
  margin: 0;
  padding-bottom: 5%;
}

.sidebar p {
  padding: 4%;
}

.sidebar h4 {
  background-color: #fbfbfb;
  margin: 0;
  padding: 5%;
}

#banner h1 {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 70px;
  letter-spacing: 60px;
  font-weight: 100;
}

body {
  background-color: #eeeeee;
  margin: 0;
}

.score {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.post {
  background-color: #ffffff;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 2px;
  border: solid 1px #f4f4f4;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: flex-start;
  padding-bottom: 2%;
}
.score h3 {
  margin: 2%;
}
.score button {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  padding: 1%;
}

.content-wrapper {
  display: flex;
}

.action-buttons button {
  background: none;
  border: none;
}

.delete-button {
  color: rgb(169, 0, 0);
}

button {
  cursor: pointer;
}
